/* --------- bootstrapの補正 --------- */
.navbar {
    margin-bottom: 0px;
}

/* --------- all page --------- */
.border-r {
    border: solid 1px powderblue;
    border-radius: 5px;
}
.border-side{
    border-right: solid 1px powderblue;
    border-left: solid 1px powderblue;
}
.border-bottom{
    border-bottom: solid 1px powderblue;
}

/* --------- index --------- */
#main {
    margin-top: 40px;
}
.media {
    /*box-shadow:0px 0px 4px -2px #000;*/
    margin: 20px 0;
}
.dp {
    border:10px solid #eee;
    transition: all 0.2s ease-in-out;
}
.dp:hover {
    border:2px solid #eee;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    /*-webkit-font-smoothing:antialiased;*/
}
#tweet-container {
    padding: 0;
}
.tweet {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.user-icon {
    width: 55px;
    height: 55px;
}
.post-message{
    min-height: 30px;
}

/* --------- login --------- */
#login-form {
    margin-top: 150px;
}

/* --------- user --------- */
#profile-container {
    height: 300px;
    background-color: lightslategray;
    position: relative;
    margin-bottom: 50px;
}

#profile-picture {
    background-color: lightblue;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: -50px;
    left: 50px;
    transition: bottom .3s;
    z-index: 3;
}